/be-fe-mono-repo-plain/ @clemensutschig
/be-gateway-nginx/ @gerardcl
/be-golang-plain/ @michaelsauter @henrjk
/be-java-springboot/ @stitakis @renedupont
/be-python-flask/ @buegelbeatz @henrjk @gerardcl
/be-rust-axum/ @gerardcl @flightlama
/be-scala-play/ @oalyman
/be-typescript-express/ @sino92
/docker-plain/ @michaelsauter
/ds-jupyter-lab/ @gerardcl @hugowschneider
/ds-rshiny/ @gerardcl
/ds-streamlit/ @sklingel
/e2e-cypress/ @cschweikert @garcanam @roicarrera
/e2e-spock-geb/ @metmajer @garcanam @roicarrera
/fe-angular/ @cschweikert
/fe-ionic/ @rianet @bljubisic
/inf-terraform-aws/ @terra-naut @tbugfinder
/inf-terraform-azure/ @terra-naut @tbugfinder
/ods-document-gen-svc/ @metmajer
/ods-provisioning-app/ @clemensutschig @michaelsauter
/release-manager/ @metmajer @michaelsauter
