/be-fe-mono-repo-plain/ @clemensutschig
/be-gateway-nginx/ @gerardcl
/be-golang-plain/ @michaelsauter @henrjk
/be-java-springboot/ @stitakis @rdupont
/be-python-flask/ @buegelbeatz @henrjk @gerardcl
/be-scala-play/ @oalyman
/be-typescript-express/ @sino92
/docker-plain/ @michaelsauter
/ds-jupyter-lab/ @gerardcl @hugowschneider
/ds-rshiny/ @gerardcl
/e2e-cypress/ @tbabik
/e2e-spock-geb/ @metmajer
/fe-angular/ @cschweikert
/fe-ionic/ @rianet @bljubisic
/inf-terraform-aws/ @frankjoas @metmajer @nichtraunzer @tbugfinder
/ods-document-gen-svc/ @metmajer
/ods-provisioning-app/ @clemensutschig @michaelsauter
/release-manager/ @metmajer @michaelsauter
