# Project Key (required)
sonar.projectKey=@project_id@-@component_id@

# Project Name (optional)
sonar.projectName=@project_id@-@component_id@

# Comma-separated paths to directories with sources (required)
sonar.sources=plugins,support,tests

# Encoding of the source files (optional but recommended as default is ASCII)
sonar.sourceEncoding=UTF-8

# Exclude non type script files from coverage analysis
sonar.exclusions=**/*.html,**/*.scss,**/*.json,**/*.ico,**/*.svg
