/* generated jenkins file used for building and deploying the releasemanager and components of @project_id@ */
@Library('ods-mro-jenkins-shared-library@@ods_git_ref@')
@Library('ods-jenkins-shared-library@@ods_git_ref@')

// Simple entrypoint to mro shared library stage. Check out readme for more information.
def config = [debug: true]

mroPipeline(config)