/* generated jenkins file used for building and deploying the releasemanager and components of @project_id@ */
 @Library(['ods-mro-jenkins-shared-library@@ods_git_ref@', 'ods-jenkins-shared-library@@ods_git_ref@']) _

// Simple entrypoint to mro shared library stage. Check out readme for more information.
def config = [debug: true, odsImageTag : "@ods_image_tag@"]

mroPipeline(config)