id: @project_id@
name: Project @project_id@
description: Description of @project_id@.

services:
  bitbucket:
    credentials:
      id: @project_id@-cd-cd-user-with-password

# Uncomment (below) to connect to jira
#  jira:
#    credentials:
#      id: @project_id@-cd-cd-user-with-password
  nexus:
    repository:
      name: leva-documentation

repositories: []
#  - id: A
#    type: ods
#  - id: B
#    name: my-repo-B
#    type: ods
#  - id: C
#    type: ods
#  - id: D
#    type: ods
#    forceRebuild: true

# Uncomment (below) to generate documents	  
# capabilities:
#  - LeVADocs:
#      GAMPCategory: 5

# Uncomment (below) to allow partial rebuilding during development
# allowPartialRebuild: true
