.bundle
.kitchen
.terraform
.terraform.lock.hcl
.terraform-data.json
.vscode
*.auto.tfvars*
inspec.lock
outputs.json
terraform.tfvars*
terraform.tfstate*
tfplan
vendor
test/integration/*/files/*.json
test/integration/*/files/*.yml
reports/install/*
!reports/install/.gitkeep
Pipfile.lock
.venv
