/* generated jenkins file used for building and deploying AWS-infrastructure in projects */

@Library('ods-jenkins-shared-library@@shared_library_ref@') _

odsComponentPipeline(
  imageStreamTag: '@ods_namespace@/jenkins-agent-terraform-2408:@agent_image_tag@',
  branchToEnvironmentMapping: [
    'master': 'dev',
  ]
) { context ->
    odsComponentStageInfrastructure(context, [cloudProvider: 'AWS'])
}
