apiVersion: v1
kind: ConfigMap
metadata:
  name: renovateconfigjs
data:
  config.js: |-
    module.exports = {
        "autodiscover": false,
        "branchPrefix": "renovate/",
        "username": process.env.CD_USERNAME,
        "password": process.env.CD_PASSWORD,
        "gitAuthor": "Renovate Bot <bot@renovateapp.com>",
        "onboarding": true,
        "platform": "bitbucket-server",
        "endpoint": "<your-bitbucket-server-url>",
        "configMigration": true,
        "extends": [
          "config:recommended",
          "helpers:pinGitHubActionDigests",
          ":pinDevDependencies",
          ":disableDependencyDashboard",
          ":semanticPrefixFixDepsChoreOthers",
          ":ignoreModulesAndTests",
          "group:monorepos",
          "group:recommended",
          "replacements:all",
          "workarounds:all",
          "mergeConfidence:all-badges"
        ],
        "hostRules": [
          {
            "hostType": "github",
            "token": process.env.GITHUB_TOKEN
          }
        ]
      }
