# Project Key (required)
sonar.projectKey=@project_id@-@component_id@

# Project Name (optional)
sonar.projectName=@project_id@-@component_id@

# Comma-separated paths to directories with sources (required)
sonar.sources=app

# Encoding of the source files (optional but recommended as default is ASCII)
sonar.sourceEncoding=UTF-8

# Comma-separated list of paths to scoverage.xml report files generaged by Scoverage
sonar.scala.coverage.reportPaths=target/scala-2.13/scoverage-report/scoverage.xml
