# TODO: define what's needed here
# subscription, client_id, app_id, secret_id

location: westeurope
  
credentials:
  key: @project_id@-cd-aws-access-key-id-dev
  secret: @project_id@-cd-aws-secret-access-key-dev

# put your account id in here with double quotes           
account: "nnnnnnnnn"
