# TODO: map credentials here as they are stored prefixed with project_id?

credentials:
  azureSubscriptionId: @project_id@-azure-cd-subscription-id
  azureTenantId: @project_id@-azure-cd-tenant-id
  azureClientId: @project_id@-azure-cd-client-id
  azureClientSecret: @project_id@-azure-cd-client-secret
