# TODO: define what's needed here
# subscription, client_id, app_id, secret_id

location: westeurope
  
credentials:
  key: @project_id@-cd-aws-access-key-id-testing
  secret: @project_id@-cd-aws-secret-access-key-testing
