# TODO: map credentials here as they are stored prefixed with project_id?

credentials:
  azureSubscriptionId: @project_id@-azure-cd-subscription-id-testing
  azureTenantId: @project_id@-azure-cd-tenant-id-testing
  azureClientId: @project_id@-azure-cd-client-id-testing
  azureClientSecret: @project_id@-azure-cd-client-secret-testing
